@model IEnumerable<NorthWindDemo.Models.Categories>

@{
    ViewBag.Title = "Category Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/category/index.css" rel="stylesheet" />
}

<h2>Category Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-success" href="@Url.Action("Create", new {category=ViewBag.category})">
        <i class="icon-pancil"></i> Create New
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.Picture != null)
            {
                var base64 = Convert.ToBase64String(item.Picture);
                var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                <img src="@imgSrc" style="max-width: 80px; height: auto;" />
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
