@model NorthWindDemo.ViewModels.ProductDeleteViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.QuantityPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.QuantityPerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.UnitsOnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.UnitsOnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.Discontinued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Discontinued)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products.Suppliers.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Suppliers.CompanyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Back to List", "Index", new { category = Model.Category }, new { @class = "btn btn-outline-secondary" })
        </div>
    }
</div>
