@*@model IEnumerable<NorthWindDemo.ViewModels.ProductIndexViewModel>*@
@model NorthWindDemo.ViewModels.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/Product/index.css" rel="stylesheet" />
}
<h2>Product Index</h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="btn btn-success" href="@Url.Action("Create", new {category = Model.Category})">
        <i class="icon-pancil"></i> Create New
    </a>
</p>
@using (Html.BeginForm("ProductsOfCategory", "Product", FormMethod.Post, new { enctype = "multipart/form-data", data_ajax = "false" }))
{
    @Html.DropDownList("category", Model.CategorySelectList as List<SelectListItem>)
    <input type="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.QuantityPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Categories.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Suppliers.CompanyName)
        </th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model.ProductsData)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID, category = Model.Category }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID, category = Model.Category }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID, category = Model.Category })
            </td>
        </tr>
    }

</table>
